.img1 {
  display: inline-block;       
  margin: 10px auto;  
  width: 150px;       
  height: auto;  
  
}

.img2 {
  display: inline-block;  
  margin: 10px auto;  
  width: 150px;       
  height: auto;  
  
}
