.img1 {
  display: block;      
  margin: 10px auto;  
  width: 150px;       
  height: auto;  
  
}

.img2 {
  display: block;      
  margin: 10px auto;  
  width: 150px;       
  height: auto;  
  
}
